.about {
  display: flex;
  width: auto;
  height: 100vh;
  flex-direction: row;
  justify-content: space-evenly;
}
.about .left {
  margin-left: -200px;
}
.left h1 {
  font-size: 60px !important;
  font-weight: 600 !important;
  line-height: 70px;
}
.left h2 {
  font-size: 20px !important;
  font-weight: 200 !important;
  padding-left: 30px;
}
.middle {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
  max-width: 500px;
  margin-right: 45px;
}
.right img:hover {
  transform: scale(110%);
  transition: ease-in-out 1s;
}

.resume a {
  text-decoration: none;
  color: #ff9900;
}
.middle {
  top: 0;
  max-width: auto;
  max-height: 100vh;
}
.middle .img1 {
  position: relative;
  height: 500px;
  width: 280px;
  padding-top: 180px;
  filter: blur(2px);
}
.middle .img2 {
  position: absolute;
  height: 500px;
  width: 280px;
  padding-top: 200px;
  top: 50px;
  left: 50px;
  filter: blur(2px);
}
.middle video {
  position: absolute;
  height: 500px;
  width: 280px;
  padding-top: 100px;
  top: 80px;
  left: 110px;
}

/* -------------Contact-------------- */
.contact {
  display: flex;
  justify-content: center;
}
.contact ul {
  display: flex;
  flex-direction: column;
  gap: 100px;
  list-style: none;
  padding-top: 200px;
}

.contact img {
  height: 40px;
  width: 40px;
}
.contact img:hover {
  transform: scale(130%);
  transition: ease-in 0.5s;
  cursor: pointer;
}
