body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  z-index: 1000;
}

.header {
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.logo {
  display: flex;
  padding-left: 66px;
  padding-top: 35px;
}

.menu {
  display: flex;
  flex-direction: row;
  height: 150px;
  width: 100%;
  margin-left: 50%;
  justify-content: space-evenly;
  align-items: center;
}
.menu a {
  width: 100px;
  height: 100px;
  padding-top: 70px;
  text-decoration: none;
  color: #ffffff;
}
.menu a:hover {
  cursor: pointer;
  transform: scale(110%);
  transition: ease-in 0.5s;
  color: #ff9900;
}
